<div id='container' ng-controller='MymoviesController'>
  
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#/mymovies">My Movies</a></li>
      <li><a href="#/search">Search</a></li>
    </ul>
  </nav>



  <div class="row">
      <div class="col-md-6" ng-repeat="movie in movies">
          <div class="thumbnail">
              <div class="clearfix">
                <div>{{ movie.title }}</div>
                  <img class="pull left" ng-src="{{ baseuri+movie['thumbnail'] }}" alt="movie poster"/>
                  <div class="pull right">hello</div>
              </div>
              </div>
          <div>
      </div>
  </div>


  <div class="results">
    <div class="result" ng-repeat="movie in movies">
      <img class="poster" 
      ng-src="{{ baseuri+movie['thumbnail'] }}" 
      />  
      <div class="info">
        <div class="title">{{ movie.title }}</div>
        <div class="year">{{ movie["release_date"] }}</div>
        <div class="count">
          <span ng-click="minusCount(movie.watched)"> - </span>
          <span>{{ movie.watched }}</span>
          <span ng-click="addCount(movie.watched)"> + </span></div>
      </div>
    </div>
  </div>


</div>
