<div id='container' ng-controller='MymoviesController'>
  
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#/mymovies">My Movies</a></li>
      <li><a href="#/search">Search</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-6" ng-repeat="movie in movies">

      <div style="overflow:hidden" class="thumbnail">
          <p>{{ movie .title }}</p>
          <img style="float:left" class="pull-left" ng-src="{{ baseuri+movie['thumbnail'] }}" alt="movie poster"/>
          <div style="float:left; padding-left: 20px;" class="form-group">
            <label for="comment">Notes:</label>
            <textarea style="width:450px; height:250px" class="form-control" rows="3" id="comment"></textarea>
          </div>
      </div>
    </div>

  </div>



<!--   <div class="results">
    <div class="result" ng-repeat="movie in movies">
      <img class="poster" 
      ng-src="{{ baseuri+movie['thumbnail'] }}" 
      />  
      <div class="info">
        <div class="title">{{ movie.title }}</div>
        <div class="year">{{ movie["release_date"] }}</div>
        <div class="count">
          <span ng-click="minusCount(movie.watched)"> - </span>
          <span>{{ movie.watched }}</span>
          <span ng-click="addCount(movie.watched)"> + </span></div>
      </div>
    </div>
  </div> -->


</div>
