<div id='container' ng-controller='SearchController'>

  <div class="navigation">
    <ul>
      <li><a href="#/mymovies">My Movies</a></li>
      <li><a class='selected' href="#/search">Search</a></li>
    </ul>
  </div>

  <h2>Search</h2>
  <form name="searchForm" ng-submit="searchTitle()" novalidate>
    <input name="input" type="search"
      ng-model="searchString"
      placeholder="Search titles" required
    />
    <button>search</button>
  </form>

  <div class="results">
    <div class="result" ng-repeat="result in results">
<!--       <img src={{ result["poster_path"] }}">   -->
      <div class="info">
        <div class="title" ng-click="addMovieToDb(result)">{{ result.title }}</div>
        <div class="year">{{ result["release_date"] }}</div>
      </div>
    </div>
  </div>

</div>


